.bg_banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true");
    height: 582px;
}

.custom-card1 {
    @include pad {
        min-height: 252px;
    }
    @include desktop {
        min-height: 420px;
    }
}

.custom-card1-title {
    @include pad {
        font-size: 16px;
        line-height: 24px;
    }
    @include desktop {
        font-size: 20px;
        line-height: 30px;
    }
}

.bg-yoga1 {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg?raw=true");
}

.bg-yoga2 {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg?raw=true");
}

.bg-yoga3 {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg?raw=true");
}