<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">

    <!-- Material Icon CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>

  <body>
    <header class="border border-medium">
      <div class="container py-5">
        <div class="row justify-content-center"> 
          <div class="col-md-4 col-3"></div>
          <div class="col-md-4 col-6">
            <h1 class="d-flex justify-content-center m-0">
              <a class="fw-bold fs-4" href="./index.html">EXHIBINECTION</a>
            </h1>
          </div>
          <div class="col-md-4 col-3">
            <nav>
              <ul class="list-unstyled d-flex justify-content-end mb-0 me-3 me-md-0">
                <li class="d-md-block d-none ms-md-7 "><a href="#" class="text-medium">Sign in</a></li>
                <li class="d-md-block d-none ms-md-7"><a href="#" class="text-medium">Sign up</a></li>
                <li class="ms-md-7">
                  <a class="position-relative" href="./cart.html">
                    <span class="material-icons fs-4 text-dark">shopping_cart</span>
                    <span class="position-absolute translate-middle badge rounded-circle bg-danger fs-7 w-100 h-100">5<span class="visually-hidden">unread messages</span></span>
                  </a>                  
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script> 
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
        

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 100, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>
  </body>

</html>