<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">

    <!-- Material Icon CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- Silom Font Family -->
    <link href="http://fonts.cdnfonts.com/css/silom" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <header class="bg-secondary">
      <div class="container py-4">
        <div class="row"> 
          <div class="col col-lg-4 d-flex align-items-center">
            <h1 class="mb-0 lh-1 d-flex align-items-center"><a href="./index.html" class="logo text-light-brown fs-4">DOYOGA</a></h1>
          </div>
          <div class="d-none d-lg-flex col-lg-4 justify-content-center align-items-center">
            <nav>
              <ul class="list-unstyled d-flex align-items-center m-0">
                <li class="text-medium px-4"><a href="#">課程介紹</a></li>
                <li class="text-medium px-4"><a href="#">瑜珈空間</a></li>
                <li class="text-medium px-4"><a href="#">當月課表</a></li>
              </ul>
            </nav>
          </div>
          <div class="col col-lg-4 d-flex justify-content-end align-items-center">
            <div class="d-lg-block d-none">
              <a class="btn btn-outline-primary rounded-pill mx-2 px-4">立即預約</a>
              <a class="btn btn-outline-primary rounded-pill mx-2 px-4">聯絡我們</a>
            </div>
            <span class="d-lg-none">
              <i class="material-icons text-primary">menu</i>
            </span>
          </div>
        </div>
      </div>
    </header>

    <nav class="position-fixed t-50 r-0 pe-4 z-index-2">
      <ul class="list-unstyled">
          <li class="d-flex justify-content-center mb-2"><a href="#"><i class="fab fa-facebook fs-1 text-primary"></i></a></li>
          <li class="d-flex justify-content-center mb-2"><a href="#"><i class="fab fa-instagram fs-1 text-primary"></i></a></li>
          <li class="d-flex justify-content-center mb-2"><a href="#"><i class="fab fa-line fs-1 text-primary"></i></a></li>
      </ul>
    </nav>

    <%- contents %>

    <footer class="bg-primary">
      <div class="border-bottom border-light">
        <div class="container py-lg-7 py-5">
          <div class="d-flex flex-column flex-lg-row justify-content-between">
            <p class="text-light fs-3 mb-lg-0">現在訂閱，獲得課程優惠碼！</p>
            <div class="d-flex">
              <input class="w-input rounded-left d-block border-0 ps-4" type="text" placeholder="輸入您的電子信箱" aria-label="email">
              <button class="btn btn-light-brown text-light h-100" id="basic-addon2">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-lg-7 py-5">
        <div class="row">
          <div class="col-8 col-lg-4">
            <a href="#" class="logo text-light fs-4 mb-2">DOYOGA</a>
            <nav>
              <ul class="list-unstyled text-light">
                <li class="mx-1 ms-0"><a>課程介紹</a></li>
                <li class="mx-1 ms-0"><a>瑜珈空間</a></li>
                <li class="mx-1 ms-0"><a>當月課表</a></li>
              </ul>
            </nav>
          </div>
          <div class="d-none d-lg-block col-lg-4 align-self-end">
            <p class="text-light fs-6 text-center mb-0">© 2021. All Rights Reserved.</p>
          </div>
          <div class="col-4">
            <ul class="list-unstyled d-flex justify-content-end">
              <li class="mx-1"><a href="#"><i class="fab fa-facebook fs-4 text-light"></i></a></li>
              <li class="mx-1"><a href="#"><i class="fab fa-instagram fs-4 text-light"></i></a></li>
              <li class="mx-1"><a href="#"><i class="fab fa-line fs-4 text-light"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row d-md-none">
          <p class="text-light">© 2021. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script> 
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
        
        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 150, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>
  </body>

</html>