
.w-input {
    width: 273px;

    @include pad {
        width: 258px;
    }

    @include desktop {
        width: 350px;
    }
}

.w-24 {
    width: $spacer * 1.5;
}

.h-24 {
    height: $spacer * 1.5;
}

.w-48 {
    width: $spacer * 2;
}

.w-68 {
    width: $spacer * 4.25;
}

.w-160 {
    width: 160px;
}

.w-350 {
    width: 350px;
}

.w-445 {
    width: 445px;
}

.w-96 {
    width: $spacer * 6;
}

.h-48 {
    height: $spacer * 2;
}

.h-68 {
    height: $spacer * 4.25;
}

.h-96 {
    height: $spacer * 6;
}

.h-40 {
    height: 40%;
}

.h-lg-207 {
    @include desktop {
        height: 207px;
    }
}

.h-md-117 {
    @include pad {
        height: 117px;
    }
}

.h-300 {
    height: 300px;
}

.h-lg-444 {
    @include desktop {
        height: 444px;
    }
}

.h-md-266 {
    @include pad {
        height: 266px;
    }
}

.h-445 {
    height: 445px;
}

.ps-md-180 {
    @include desktop {
        padding-left: 180px;
    }
}

.t-50 {
    top: 50%;
}

.r-0 {
    right: 0;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-size-cover {
    background-size: cover;
}

.bg-position-center {
    background-position: center;
}

.bg-position-bottom {
    background-position: bottom;
}

.z-index-2 {
    z-index: 2;
}

.min-height-lg-420 {
    @include desktop {
        min-height: 420px;
    }
}

.min-height-md-210 {
    @include pad {
        min-height: 210px;
    }
}

.max-height-628 {
    max-height: 628px;
}

.object-fit-none {
    object-fit: none;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

.no-white-space {
    white-space: nowrap;
}

.x-overflow-auto {
    overflow-x: hidden;
}

.x-overflow-auto:hover {
    overflow-x: auto;
}

.rounded-top-pill {
    border-radius: 1rem 1rem 0 0 !important;
}

.w-md-450 {
    @include pad {
        width: 450px;
    }

    @include desktop {
        width: auto;
    }
}

.w-md-570 {
    @include pad {
        width: 570px;
    }

    @include desktop {
        width: auto;
    }
}