.w-input {
    width: 273px;

    @include pad {
        width: 258px;
    }

    @include desktop {
        width: 350px;
    }
}

.w-24 {
    width: 24px;
}

.h-24 {
    height: 24px;
}

.w-48 {
    width: 48px;
}

.h-48 {
    height: 48px;
}

.t-50 {
    top: 50%;
}

.r-0 {
    right: 0;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-size-cover {
    background-size: cover;
}

.bg-position-center {
    background-position: center;
}

.bg-position-bottom {
    background-position: bottom;
}

.bg-fb {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/exhibition-week6/facebook-24px.svg");
}

.bg-ig {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week4/logo-instagram.svg");
}

.bg-line {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg");
}

.z-index-2 {
    z-index: 2;
}

.min-height-420 {
    min-height: 420px;
}

.max-height-628 {
    max-height: 628px;
}

.object-fit-none {
    object-fit: none;
}